Xml/ProductsAttributes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="ProductID" use="optional"/>
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="ProductNumber" use="optional"/>
                <xs:attribute type="xs:string" name="Color" use="optional"/>
                <xs:attribute type="xs:float" name="StandardCost" use="optional"/>
                <xs:attribute type="xs:float" name="ListPrice" use="optional"/>
                <xs:attribute type="xs:string" name="Size" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>