Xml/SalesAndDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesOrderHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SalesOrderHeader" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="SalesOrderID"/>
              <xs:element type="xs:dateTime" name="OrderDate"/>
              <xs:element type="xs:short" name="CustomerID"/>
              <xs:element type="xs:float" name="TotalDue"/>
              <xs:element name="SalesOrderDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SalesOrderDetail" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="SalesOrderID"/>
                          <xs:element type="xs:int" name="SalesOrderDetailID"/>
                          <xs:element type="xs:byte" name="OrderQty"/>
                          <xs:element type="xs:short" name="ProductID"/>
                          <xs:element type="xs:float" name="UnitPrice"/>
                          <xs:element type="xs:float" name="LineTotal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>